@import "variables";
@import "mixins";
@import "custom";
@import "typography";
@import "components";

/*------- template styles -------*/

.boxed-content {
    background: $white;
    padding: 40px 15px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.boxed-content.grid-content {
    padding: 30px;
}

.boxed-container {
    max-width: 1280px;
    margin: 35px auto;
    background: $white;
}

html.has-boxed-container, body.has-boxed-container {
    background: $light-grey;
}

.content-wrapper-raised {
    margin-top: -100px;
}

.content-wrapper-lowered {
    margin-bottom: -100px;
}

.parallax-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary;
    background-image: url("../images/bg-img.jpg");
    padding: 150px 0;
}

.parallax-section.small {
    background-image: url("../images/bg-img-small.jpg");
    padding: 70px 0;
}

#news.parallax-section {
    background-image: url("../images/news-bg.jpg");
}

section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*--- headers  ---*/

header {
    padding: 100px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $primary;
}

.has-sticky-menu {
    padding-top: 110px;
}

.header-content {
    padding: 70px 0
}

.header-content.has-raised-content {
    padding-bottom: 150px;
}

header.main-demo {
    background-image: url("../images/main-header.jpg");
}

header.portfolio-demo {
    background-image: url("../images/portfolio-header.jpg");
}

header.agency-page {
    background-image: url("../images/agency-page-header.jpg");
}

header.boxed-page {
    background-image: url("../images/boxed-header.jpg");
}

header.boxed-single-page {
    background-image: url("../images/boxed-page-header.jpg");
}

.header-slider {
    background-color: $inverse-color;
}

.header-slider .header-content {
    padding: 90px 0;
}

.header-slider.w-sticky-menu .header-content{
    padding: 120px 0;
}

.slide.one {
    background-image: url(../images/slide1.jpg);
}

.slide.two {
    background-image: url(../images/slide2.jpg);
}

.slide.three {
    background-image: url(../images/slide3.jpg);
}

/* particles */

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
}

/* end of particles */



/* video background */

header.video-wrapper {
    padding: 0;
    position: relative;
    z-index: 0;
}

header.video-wrapper .video-header-spacing {
    position: relative;
    z-index: 1;
}

header.video-wrapper .video-header-spacing {
    padding: 100px 0;
}

header.video-wrapper #bgvideo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: $light-grey;
}

.video-wrapper {
   position: relative;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 0;
   overflow: hidden;
   background-color: $white;
}

.video-wrapper .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
}

.video-wrapper video {
   width: 100vw;
   height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* end of video background */

/*--- end of headers ---*/



/*--- promo box ---*/

img.promo-box-icon {
    max-width: 70px;
    margin-bottom: 20px;
}

.box-title {
    font-weight: $bold;
    margin-bottom: 15px;
}

/*--- end of promo box ---*/



/*--- portfolio ---*/

.project {
    margin: 15px 0;
}

.no-gutter .project {
    margin: 0 !important;
    padding: 0 !important;
}

.project-title {
    font-size: 1.5rem;
}

.project-skill {
    font-size: 12px;
    font-weight: $bold;
    letter-spacing: $letter-spacing-2x;
}


/* lightbox */

.mfp-bg {
    background: $inverse-color !important;
    opacity: 0.9 !important;
}

.body.dark .mfp-figure:after {
    box-shadow: none !important;
    background: $dark-grey !important;
}

.mfp-figure:after {
    box-shadow: none !important;
    background: $secondary !important;
}

.mfp-close {
    color: $white;
    opacity: 0.7;
    font-size: 30px;
    top: -50px;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.mfp-close:hover {
    opacity: 1;
}

.mfp-arrow {
    color: $white;
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 900;
    opacity: 0.7 !important;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.mfp-arrow:hover {
    opacity: 1 !important;
}

.mfp-arrow:after {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
    top: 5px !important;
}

.mfp-arrow-right:before {
    border-left: none !important;
}

.mfp-arrow-left:before {
    border-right: none !important;
}

.mfp-arrow-right:after {
    content: "\f30b" !important;
    font-size: 40px;
    border-right: none !important;
    margin-left: 25px !important;
}

.mfp-arrow-left:after {
    content: "\f30a" !important;
    font-size: 40px;
    border-right: none !important;
    margin-left: 30px !important;
}

/* end of lightbox */



/* effect show */

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.hovereffect:hover img {
    -ms-transform: scale(1.15);
    -webkit-transform: rotate(1.15);
    transform: scale(1.15);
}

.hovereffect-title h5 {
    color: $white;
    background: transparent;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px;
}

.hovereffect-title p {
    color: $white;
    background: transparent;
    text-align: center;
    position: absolute;
    top: 52%;
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    padding: 10px;
}

.hovereffect-title i {
    font-size: 16px;
    color: $white;
    background: transparent;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-top: -8px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0.7;
}

.tall-project .hovereffect-title i {
    top: 94%;
    left: 90%;
}

.hovereffect-title i:hover {
    opacity: 1
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* end of effect show */



/* line effect */

#portfolio.line-effect .project {
    margin: 0 !important;
    padding: 0 !important;
}

ul.portfolio.line-effect {
    margin-bottom: 0 !important;
}

.portfolio.line-effect figure {
    margin: 15px !important;
}

.portfolio.line-effect figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 1;
}

.portfolio.line-effect figure figcaption::before,
.portfolio.line-effect figure figcaption::after {
    pointer-events: none;
}

.portfolio.line-effect figure figcaption,
.portfolio.line-effect figure a.project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio.line-effect figure a.project-link {
    z-index: 0;
}

.portfolio.line-effect figure h2.hover-title {
    word-spacing: -0.15rem; 
}

.portfolio.line-effect figure h2 span {
    font-weight: $light;
}

.portfolio.line-effect figure h2,
.portfolio.line-effect figure p {
    margin: 0;
}

.portfolio.line-effect figure p.project-skills {
    letter-spacing: 1px;
}

.effect-bubba {
    background-color: $black;
}

.effect-bubba img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-bubba:hover img {
    opacity: 0.2 !important;
}

.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-bubba figcaption::before {
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
}

.effect-bubba figcaption::after {
    border-right: 2px solid $white;
    border-left: 2px solid $white;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
}

.effect-bubba .hover-content {
    padding-top: 33%;
}

.tall-project .effect-bubba .hover-content {
    padding-top: 60%;
}

.effect-bubba h2.hover-title {
    opacity: 0;
    font-size: 1.5em;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
}

.effect-bubba p {
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.effect-bubba:hover figcaption::before,
.effect-bubba:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-bubba:hover h2, .project-tall .effect-bubba:hover h2, .effect-bubba:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.effect-bubba a.image-lightbox {
    z-index: 2;
}

.effect-bubba i {
    font-size: 16px;
    color: $white;
    background: transparent;
    position: absolute;
    top: 90%;
    left: 90%;
    margin-top: -8px;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    opacity: 0;
}

.effect-bubba:hover i {
    opacity: 1;
    top: 83%;
    left: 85%;
}

.tall-project .effect-bubba i {
    top: 93%;
    left: 90%;
}

.tall-project .effect-bubba:hover i {
    top: 90%;
    left: 85%;
}

.effect-bubba i:hover {
    opacity: 1;
}

/* end of line effect */



/* info effect */

#portfolio.info-effect .project {
    margin: 0 !important;
    padding: 0 !important;
}

ul.portfolio.info-effect {
    margin-bottom: 0 !important;
}

.portfolio.info-effect figure {
    margin: 15px !important;
}

.portfolio.info-effect figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 1;
}

.portfolio.info-effect figure figcaption::before,
.portfolio.info-effect figure figcaption::after {
    pointer-events: none;
}

.portfolio.info-effect figure figcaption,
.portfolio.info-effect figure a.project-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio.info-effect figure a.project-link {
    z-index: 0;
}

.portfolio.info-effect figure h2.hover-title {
    word-spacing: -0.15rem; 
}

.portfolio.info-effect figure h2 span {
    font-weight: $light;
}

.portfolio.info-effect figure p.project-skills {
    letter-spacing: 1px;
}

.effect-info {
    background-color: $black;
}

.effect-info img {
    opacity: 1;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

.effect-info:hover img {
    opacity: 0.2 !important;
}

.effect-info .hover-content {
    padding-top: 33%;
}

.tall-project .effect-info .hover-content {
    padding-top: 60%;
}

.effect-info .project-icons {
    opacity: 0;
    font-size: 1.5em;
    color: $white;
    text-align: center;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
    z-index: 2;
    position: relative;
}

.effect-info .project-icons a {
    color: $white;
    margin: 5px;
    opacity: 0.7;
}

.effect-info .project-icons a:hover {
    opacity: 1;
}

.effect-info p.project-skill {
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,20px,0);
    transform: translate3d(0,20px,0);
}

.effect-info:hover figcaption::before,
.effect-info:hover figcaption::after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.effect-info:hover .project-icons, .project-tall .effect-info:hover .project-icons, .effect-info:hover p.project-skill {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.effect-info .project-info {
    z-index: 3;
    position: relative;
}

.effect-info .project-info-skill {
    color: $white;
    font-size: 0.9rem;
    font-weight: $bold;
    padding: 10px 15px;
    background: $primary;
    max-width: 50%;
    margin: 0 auto;
    float: none;
}

.project-box {
    padding: 15px;
}


/* end of info effect */



/* portfolio-filter */

.portfolio-filter {
    margin-top: 30px;
    margin-bottom: 15px;
}

.no-gutter .portfolio-filter {
    margin-bottom: 30px;
}

.portfolio-filter.list-inline li {
    display: inline-block;
    padding: 0;
}

.portfolio-filter a {
    color: $text-color;
    font-family: $title-font !important;
    font-size: 14px;
    font-weight: $bold;
    letter-spacing: $letter-spacing-big;
    line-height: 40px;
    border-radius: 2px;
    margin: 0 5px;
    padding: 8px 10px;
}

.portfolio-filter a:hover {
    color: $primary;
    background-color: transparent;
}

.portfolio-filter a.active {
    color: $primary;
    background-color: transparent;
}

.portfolio-filter a.active:hover {
    color: $primary-hover;
    background-color: transparent;
}

/* end of portfolio-filter */

/*--- end of portfolio ---*/



/*--- facts section ---*/

#facts.has-background {
    padding: 80px 0;
}

.fact-item {
    margin: 15px 0;
}

.fact-icon {
    font-size: 36px;
}

#facts .timer {
    padding: 2px 0;
    font-size: 2rem;
}

.fact-title {
    font-weight: $bold;
    color: $mid-grey;
}

/*--- end of facts section ---*/



/*--- info section ---*/

#info {
    padding: 100px 0;
}

#info2 {
    padding: 100px 0;
}

.info-bg {
    background-image: url("../images/info-bg.jpg");
}

.feature.block {
    margin: 30px 0;
}

.feature i {
    font-size: 2.5rem;
}

.feature-block-image {
    max-width: 60px;
}

.feature-left .feature-icon {
    position: absolute;
    float: left;
    left: 15px;
}

.feature-left .feature.block.wimage {
    text-align: left;
    padding-left: 75px;
}

.feature-left .feature {
    text-align: left;
    padding-left: 51px;
}

.feature-center {
    text-align: center;
}

.feature-center .feature-icon {
    margin-bottom: 10px;
}

.feature-right .feature.block.wimage {
    text-align: right;
    padding-right: 75px;
}

.feature-right .feature-icon {
    position: absolute;
    float: right;
    right: 15px;
}

.feature-right .feature {
    text-align: right;
    padding-right: 51px;
}

/*--- end of info section ---*/



/*--- clients section ---*/

#clients {
    padding: 100px 0;
}

#clients-carousel img {
    width: 70%;
    margin: 0 auto;
}

/*--- end of clients section ---*/



/*--- blog section ---*/

#news {
    padding: 100px 0;
}

.blog.block {
    margin: 15px 0;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.post-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    z-index: 2;
}

.post-image img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.post-image:hover img {
    -ms-transform: scale(1.05);
    -webkit-transform: rotate(1.05);
    transform: scale(1.05);
    opacity: 0.75;
}

.post-title a {
    color: $deep-grey;
    font-family: $title-font !important;
}

.post-title a:hover {
    color: $primary;
}

.post-content {
    background: $white;
    padding: 30px;
}

.post-content .comments-info {
    font-family: $title-font !important;
}

.post-meta p {
    font-family: $title-font !important;
}

.small-slider.carousel-full-nav .owl-prev, .small-slider.carousel-full-nav .owl-next {
    font-size: 1.75rem !important;
    top: 46%;
}

/*--- end of blog section ---*/



/*--- contact section ---*/

#contact {
    padding: 100px 0;
}

.contact-bg {
    background-image: url("../images/contact-bg.jpg");
}

.contact-bg-color {
    background-image: url("../images/contact-bg-color.jpg");
}

#contact .box-description {
    font-weight: $regular;
}

#contact .box-description a {
    color: $text-color;
}

#contact .box-description a:hover {
    color: $primary;
}

.with-errors ul {
    margin-bottom: 0;
}

.with-errors li {
    color: $danger;
    margin-top: -22px;
    margin-left: 22px;
}

.with-errors.text-area li {
    color: $danger;
    margin-top: -30px;
    margin-left: 22px;
}

.btn-submit {
    width: 100%;
    opacity: 1 !important;
}

.btn-submit:hover {
    background: $primary-hover !important;
    border-color: $primary-hover !important;
}

.btn-submit.btn-info:hover {
    background: $info-hover !important;
    border-color: $info-hover !important;
}

#msgSubmit {
    font-size: 1.25rem;
    margin-top: 15px;
}

.has-danger .form-control {
    border-color: $danger !important;
}

/*--- end of contact section ---*/



/*--- pages ---*/ 

/* about */

#team {
    padding: 50px 0;
}

.team.block {
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

#testimonials {
    padding: 100px 0;
    background-image: url("../images/testimonials-bg.jpg");
}

.testimonial-image {
    max-width: 120px;
    margin: 0 auto 15px auto;
}

/* end of about */



/* services */

/* pricing tables */

#pricing {
    padding: 50px 0;
}

.pricing-table {
    background: $secondary;
    text-align: center;
    margin: 15px 0;
}

.pricing-table ul, .pricing-table ol {
    margin-bottom: 0;
    padding-left: 0;
}

.pricing-title {
    font-size: 1.5rem;
    font-weight: $bold;
    padding: 30px;
    margin-bottom: 0;
}

.pricing-table-price {
    background: $secondary-hover;
    font-weight: $bold;
    padding: 15px;
    margin-bottom: 30px;
}

.pricing-table-price.w-rounded-price {
    display: table;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 30px auto;
    padding: 0;
}

.rounded-price {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.rounded-price .pricing-price {
    font-size: 1.75rem;
}

.rounded-price .pricing-currency {
    vertical-align: 10px;
}

.pricing-table-price p {
    color: $title-color;
    margin-bottom: 0;
}

.pricing-currency {
    font-size: 1rem;
    font-weight: $bold;
    vertical-align: 25px;
}

.pricing-price {
    font-size: 3rem;
    font-weight: $bold;
}

.pricing-period {
    font-weight: $bold;
}

.pricing-table-content li {
    margin-bottom: 15px;
}

.pricing-table-button {
    padding: 15px 0 35px;
}

.featured.pricing-table {
    background: $primary;
}

.featured.pricing-table .pricing-title {
    color: $white;
}

.featured.pricing-table .pricing-table-content ul li {
    color: $light-grey;
}

.featured.pricing-table .pricing-table-price {
    background: $primary-hover;
}

.featured.pricing-table .pricing-table-price p {
    color: $white;
}

/* end of pricing tables */

/* end of services */



/* single-project */

#project-details.background-change {
    padding: 50px 0;
}

.project-details-image {
    position: absolute;
    background: url(../images/project-details-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $white;
    height: 100%;
    left: 0;
}

.project-details-image2 {
    position: absolute;
    background: url(../images/project-details-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $white;
    height: 100%;
    left: 0;
}

.project-details-image3 {
    position: absolute;
    background: url(../images/project-details-image-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $white;
    height: 100%;
    left: 0;
}

.project-info .info {
    margin-bottom: 15px;
}

.project-info .info p, .project-info .info a {
    font-weight: $bold;
    color: $grey;
}

.project-info .info a:hover {
    color: $primary;
}

.project-info .info-title {
    font-family: $title-font;
    color: $mid-grey;
}

.section-w-image {
    position: relative;
}

.section-description {
    padding: 30px;
}

.pagination {
    padding: 50px 0;
}

.btn-direction {
    color: $text-color;
}

.btn-direction:hover {
    color: $primary !important;
}

#share-post {
    padding: 50px 0;
}

/* end of single-project */



/* blog */

.quote-image {
    border-radius: 100%;
}

.quote-icon {
    color: $light-grey;
    font-size: 2rem;
}

.comments {
     background-color: $white;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
}

#comment-form textarea {
    max-width: 100%;
    height: 106px;
    min-height: 106px !important;
    max-height: 211px;
}

#comments img {
    max-width: 65px;
    border-radius: 50%;
}

.media {
    margin-top: 15px;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}

/* end of blog */




#components .text-muted {
    color: $grey !important;
}



/* contact */

#contact-info .box-description {
    font-weight: $regular;
}

#contact-info .box-description a {
    color: $text-color;
}

#contact-info .box-description a:hover {
    color: $primary;
}

/* end of contact */

/*--- end of pages ---*/



/*--- instagram feed ---*/

.instagram-item {
    position: relative;
    background: $primary;
}

.instagram-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .2s ease-in-out;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 0;
  right: 0;
  text-align: center;
}

.instagram-item:hover .instagram-image {
  opacity: 0.1;
}

.instagram-item:hover .middle {
  opacity: 1;
}

.hover-icon {
  color: $white;
  font-size: 24px;
}

/*--- end of instagram feed ---*/



/*--- widgets ---*/

.sidebar-widget {
     background-color: $white;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
}

.about-image img {
    max-width: 150px;
    border-radius: 100%;
    margin: 15px auto;
}

.about-image.big img {
    max-width: 300px;
    margin-bottom: 30px;
}

.recent-posts {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.recent-posts.first {
    margin-top: 0;
}

.recent-post-image img {
    max-width: 90px;
    float: left;
    margin-right: 15px;
}

.sidebar-widget .recent-post-image img {
    max-width: 95px;
}

.recent-post-title {
    font-family: $title-font !important;
    font-weight: $ebold !important;
}

/*--- end of widgets ---*/



/*--- reveal-footer ---*/

#main-content {
    z-index: 1;
    position: relative;
    background: $light-bg-color;
}

#reveal-footer {
    height: 79px;
    position: relative;
    z-index: -2;
}

#reveal-footer.has-footer-widgets {
    height: 527px;
}

#reveal-footer.has-footer-widgets.smaller {
    height: 502px;
}

#reveal-footer .reveal-content {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*--- end of reveal-footer ---*/

/*--- scroll to top ---*/

.scroll-to-top {
    background: $white;
    color: $text-color;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    bottom: 18px;
    right: 18px;
    line-height: 40px;
    position: fixed;
    text-align: center;
    font-size: 24px;
    z-index: 99;

&.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-5px);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s,opacity 0 .2s;
}

&.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .2s,color .2s;
}
}

.scroll-to-top:hover, .scroll-to-top:active, .scroll-to-top:focus {
    color: $white;
    background: $primary;
}

.scroll-to-top.dark-scroll {
    color: $white;
    background: $dark-grey;
}

.scroll-to-top.dark-scroll:hover, .scroll-to-top.dark-scroll:active, .scroll-to-top.dark-scroll:focus {
    color: $white;
    background: $black;
}

/*--- end of scroll to top ---*/

/*------- end of template styles -------*/