// Typography

$primary-font: 'Comfortaa', cursive;
$title-font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$ebold: 900;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;

// Color Palette

$secondary: #e9f0f4;
$secondary-hover: #cdd4d8;
$success: #2bdba1;
$success-hover: #15b580;
$info: #21b9d5;
$info-hover: #1397af;
$warning: #ffa03b;
$warning-hover: #df7f19;
$danger: #f03739;
$danger-hover: #c41a1c;
$title-color: #111;
$text-color: #999;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #eee;
$grey: #aaa;
$mid-grey: #777;
$dark-grey: #333;
$deep-grey: #222;
$inverse-color: #232323;
$black: #000;

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;
$instagram: #4c5fd7;
$instagram-hover: #4252ba;
$youtube: #e52d27;
$youtube-hover: #b31217;