/*------- primary color -------*/

$primary: #7460ef;
$primary-hover: #5240bd;
$primary-transparent: rgba(116,96,239,0.9);
$primary-transparent-2: rgba(116,96,239,0.75);

/*------- end of primary color -------*/

@import "template_styles";
@import "media-screens";